/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Make sure it's on top of everything else */
}

li {
    display: flex;
    justify-content: space-between;
    /* This will push content to both sides */
    align-items: center;
    /* Align items vertically */
    padding: 5px;
    /* Optional: Add some padding for spacing */
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-list-modal {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-list-modal li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.close-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 4px;
}

.close-button:hover {
    background-color: #0056b3;
}

.admin-user {
    color: red;
}

.kick{
    cursor: pointer;
    color: red;
    margin-left: 10px;
}

